

<div class="row header">
    <div class="col-12">
        <ul ngbNav #nav="ngbNav" class="nav-pills">
            <li ngbNavItem>
                <button ngbNavLink routerLink="houses" >Houses</button>
            </li>
            <li ngbNavItem>
                <button ngbNavLink routerLink="peoples">Peoples</button>
            </li>
            <li ngbNavItem>
                <button ngbNavLink routerLink="quotes">Quotes</button>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
    </div>
</div>