

<div class="row header">
    <div class="col-12">
        <ul ngbNav #nav="ngbNav" class="nav-pills">
            <li ngbNavItem>
                <a ngbNavLink routerLink="houses" routerLinkActive="houses" >Houses</a>
            </li>
            <li ngbNavItem>
                <a ngbNavLink routerLink="peoples" routerLinkActive="peoples">Peoples</a>
            </li>
            <li ngbNavItem>
                <a ngbNavLink routerLink="quotes" routerLinkActive="quotes">Quotes</a>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
    </div>
</div>