<div class="row">
    <div class="col-12">
        <input class="form-control" type="text" placeholder="Type to search..." aria-label="Type to search..." [(ngModel)]="searchQuery" (input)="filterHouses()">
    </div>
</div>
<div class="card mt-4">
    <div class="list-group">
        <div *ngFor="let house of (searchQuery ? filteredHouses : houses)">
            <button [routerLink]="['/house', house.slug]"
                 class="list-group-item list-group-item-action list-group-item-primary">{{house.name}}</button>
        </div>
    </div>
</div>